body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #262626;
    overflow-x: hidden;
}

/* First Part Styles */
.first-part {
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/drone_desert.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first-part nav {
    position: absolute; 
    top: 10px; 
    width: 100%;
    text-align: center;
}

.first-part nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    margin: 0;
    justify-content: space-evenly;
    margin-left: 5%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part nav a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.first-part h1 {
    text-align: center;
    margin-top: -15%;
    color: #FFFFFF;
}

.first-part nav a:hover::after {
    width: 100%;
}

/* Dienst Container Styles */
.diensten-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.dienst {
    background-color: #D9D9D9;
    opacity: 0.75;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 75vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative; 
    margin-top: 10%;
}

.dienst img {
    width: 100%;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top: 0;
}

.dienst h1 {
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    margin-top: 10px;
}

.dienst p {
    font-size: x-small;
    font-family: "Poppins", sans-serif;
    color: #000;
    text-align: center;
}

.details-border {
    width: 70%;
    height: 5vh;
    border: 2px solid #000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.details-border a {
    text-decoration: none;
    color: #000;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

/* Diensten Row Styles */
.diensten-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

/* Footer Styles */
.footer {
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 0.5%;
}

.footer .row-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.footer .row-socials img {
    margin: 0 10px;
    height: 20px;
}

.footer p a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 10px;
}

