body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #262626;
    overflow-x: hidden;
}

/* First Part Styles */
.first-part {
    width: 100%;
    height: 100vh;
    background-image: url('assets/images/drone_desert.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first-part nav {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.first-part nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    margin: 0;
    justify-content: space-evenly;
    margin-left: 5%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part nav a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-part nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.first-part nav a:hover::after {
    width: 100%;
}

.bar {
    background-color: #F0F8FF;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.toggle-bar {
    color: #0062FF;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.container {
    display: none;
}

.container p {
    font-size: 15px;
    color: #000000;
}
