body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.deel-1 {
    position: relative;
    height: 100%;
    background-image: url('assets/images/drone_mountians.png');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px; 
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Karantina', sans-serif;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
    font-size: 28px; 
    font-weight: 500;
}

nav a:hover {
    color: #0062FF;
    border-bottom: 2px solid #0062FF;
}

.border-order {
    border: 2px solid #0062FF;
    display: inline-block;
    padding: 5px;
    margin-left: 20px;
}

.border-order a {
    position: relative;
    text-align: center;
    margin: 0;
}

.text-middle {
    position: absolute;
    padding: 20px;
    border: 3px solid #FFFFFF;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px #0062FF;
}

.text-middle h1 {
    max-width: 100%;
    height: 10%;
}

.deel-2 {
    height: 100vh;
    background-position: center;
    background-color: #262626;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 80%;
    padding: 20px;
    height: 80vh;
    background-color: #FFFFFF;
    margin: auto;
}